Source: nodejs-jsonselect
Section: misc
Priority: extra
Uploaders: Casey Crites <casey@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Build-Depends: cdbs,
 debhelper (>= 7),
 nodejs-pkg-tools (>= 0.1)
Standards-Version: 3.9.1

Package: nodejs-jsonselect
Depends: nodejs (>= 0.4.0),
 ${misc:Depends}
Architecture: all
Description: CSS like selectors for JSON
 http://github.com/lloyd/JSONSelect
