Source: nodejs-sprintf
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.1

Package: nodejs-sprintf
Depends: nodejs (>= 0.2.4), ${misc:Depends}
Architecture: all
Description: node-sprintf
 http://github.com/maritz/node-sprintf
